div.form-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

}
div.form-full {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
div.input-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  margin: 0.25em;
  font-size: small;
}
button.button-submit {
  margin-top: 1em;
  border-style: none;
  background: none;
  color: rgba(73, 73, 73, 1);;
}